body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 200px 1000px 1fr;
  grid-template-areas:
    "sidenav content content"
    "footer footer footer";
}

a {
  color: #050505;
}

p {
  color: #050505;
  font-size: 1.25em;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  text-align: center;
  font-size: 2em;
}

.sidenav {
  margin: 0;
  background-color: #050505;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  text-align: center;
}

.sidenav ul {
  margin-top: 60px;
  margin-left: 10px;
  position: fixed;
  font-size: 1.5em;
  line-height: 100%;
  font-weight: bold;
}

.sidenav ul li {
  padding: 16px;
}

.sidenav ul li a:hover {
  border-bottom: #fff solid 2px;
  transition: all 0.1s ease-in-out 0s;
}

.sidenav a {
  color: #fff;
}

.portfolio {
  margin-bottom: 35px;
}

.portfolio h2 {
  text-align: center;
  margin: 35px 0;
}

.redes-sociais {
  margin-top: 460px;
  margin-left: 20px;
  position: fixed;
}

.redes-sociais img {
  width: 30px;
  margin-top: 20px;
  margin-left: 10px;
  display: block;
}

.redes-sociais img:hover {
  width: 32px;
  margin-top: 18px;
  transition: all 0.1s ease-in-out 0s;
}

.content {
  margin-top: 80px;
  margin-left: 20px;
  max-width: 100%;
}

.main {
  margin-bottom: 150px;
  text-align: center;
}

.main img {
  margin: 0 auto;
}

.img-itens {
  max-height: 300px;
  border: #fff solid 10px;
}

.img-itens:hover {
  border: none;
}

.sobre {
  display: flex;
  margin: 35px;
  grid-column: 2/3;
  max-width: 100%;
}

.sobre-img {
  border-radius: 50%;
  max-width: 350px;
  margin-top: 40px;
  margin-right: 20px;
}

.sobre-texto {
  max-width: 550px;
  padding: 15px;
  margin: 0 auto;
}

.sobre-texto p {
  font-size: 1.125em;
  text-align: justify;
  padding: 0 20px;
}

.clientes {
  margin: 50px;
  text-align: center;
}

.itens-clientes p {
  font-size: 1.125em;
}

.clientes h2 {
  margin-top: 50px;
  margin-bottom: 25px;
}

.clientes span {
  font-style: normal;
  font-weight: 500;
}

.itens-clientes {
  display: flex;
  font-style: italic;
  font-weight: 300;
}

.itens-clientes div {
  margin: 20px;
  background-color: azure;
}

.itens-clientes img {
  max-width: 100px;
  border-radius: 50%;
  margin: 10px auto;
}

.contato {
  margin: 50px;
  text-align: center;
}

.contato-itens {
  display: block;
  margin-left: 33%;
}

.contato h2 {
  margin-top: 50px;
  margin-bottom: 25px;
}

.contato-itens p {
  display: flex;
  padding: 5px;
}

.contato-itens p img {
  width: 25px;
  margin-right: 5px;
}

.dragao {
  margin: 20px auto;
  max-width: 250px;
}

.footer {
  width: 100vw;
  grid-column: 1/3;
  display: flex;
}

.footer p {
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
}

.whatsapp {
  z-index: 1;
  position: fixed;
  margin-top: 80vh;
  margin-left: 85vw;
  width: 90px;
}
