@media (max-width: 1080px) {
  body {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "sidenav"
      "content"
      "footer";
  }

  .sidenav {
    grid-column: 1/4;
    display: flex;
    align-content: space-between;
    position: fixed;
    background-color: #fff;
    font-size: 0.8em;
    opacity: 0.9;
    margin: 0;
    width: 100vw;
    z-index: 999;
  }

  .sidenav ul {
    display: flex;
    position: relative;
    margin: 0;
  }

  .redes-sociais {
    position: relative;
    margin-top: -10px;
    display: flex;
  }

  .content {
    grid-column: 1/4;
  }

  .main {
    margin: 0 auto;
    padding: 20px;
  }

  .portfolio {
    max-width: 100%;
  }

  .sobre {
    max-width: 100%;
    align-items: center;
  }

  .itens-clientes {
    max-width: 100%;
    display: block;
  }

  .footer {
    display: block;
  }

  .whatsapp {
    margin-left: 70%;
  }
}

@media (max-width: 768px) {
  .sobre {
    max-width: 100%;
    align-items: center;
    display: block;
  }

  .img-itens {
    max-height: 230px;
  }

  .itens-clientes {
    max-width: 100%;
    display: block;
  }

  .contato-itens {
    margin-left: 15%;
  }

  iframe {
    max-width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .sidenav {
    font-size: 0.5em;
  }

  .redes-sociais {
    margin-top: -15px;
    margin-right: 10px;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .img-itens {
    max-height: 180px;
  }

  .sobre img {
    max-width: 200px;
  }

  .contato-itens {
    margin-left: -5%;
  }
}
